@using MVC5_Task.Dto_s;
@model IEnumerable<EmployeeProjectDto>

@{
    ViewData["Title"] = "Employee Report";
}
<div class="container">
    <h1 class="text-center ">Total Hours For Each Employee Report</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                <th>@Html.DisplayNameFor(model => model.ProjectName)</th>
                <th>@Html.DisplayNameFor(model => model.TotalHours)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {

                    <tr >
                        <td>@item.EmployeeName</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.ProjectName</td>
                        <td>@item.TotalHours</td>

                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="4">No data available.</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Any())
    {
        <div class="text-center">
            <a class="btn btn-outline-info" asp-action="GenerateReport" type="button">Generate Report</a>
        </div>
    }
</div>
